<div class="div6">
  <div class="searchBox">
    <input type="serach" class="inputSearch" />
    <i class="fa fa-search"></i>
  </div>
  <div class="colorList">
    <h3>Colour List</h3>
    <h3 class="solidColor">Solid</h3>
      <div class="solidExpand">
        <input type="radio" id="Aqua" name="colorRadio" value="Aqua" />
        <label for="Aqua">Aqua</label><br />
        <input type="radio" id="Coral" name="colorRadio" value="Coral" />
        <label for="Coral">Coral</label><br />
        <input type="radio" id="DarkMagenta" name="colorRadio" value="DarkMagenta" />
        <label for="DarkMagenta">DarkMagenta</label><br />
      </div>

      <h3 class="solidColor">Matalic</h3>
      <div class="solidExpand">
        <input type="radio" id="DarkSeaGreen" name="colorRadio" value="DarkSeaGreen" />
        <label for="DarkSeaGreen">DarkSeaGreen</label><br />
        <input type="radio" id="DeepPink" name="colorRadio" value="DeepPink" />
        <label for="DeepPink">DeepPink</label><br />
        <input type="radio" id="ForestGreen" name="colorRadio" value="ForestGreen" />
        <label for="ForestGreen">ForestGreen</label><br />
      </div>

      <h3 class="solidColor">Exclusive</h3>
      <!-- <button class="expand">
        <i *ngIf="!showExclusiveDetails" class="fa fa-angle-double-down"></i>
        <i *ngIf="showExclusiveDetails" class="fa fa-angle-double-up"></i></button><br /> -->
      <div class="solidExpand">
        <input type="radio" id="GreenYellow" name="colorRadio" value="GreenYellow" />
        <label for="GreenYellow">GreenYellow</label><br />
        <input type="radio" id="LightBlue" name="colorRadio" value="LightBlue" />
        <label for="LightBlue">LightBlue</label><br />
        <input type="radio" id="LightGreen" name="colorRadio" value="LightGreen" />
        <label for="LightGreen">LightGreen</label><br />
      </div>
  </div>
</div>