<form>
  <div>
    <nav class="navbar navbar-expand-lg" style="background-color: #3a3a3b;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link active" aria-current="page" routerLink="/coreSpecs">Core Specs</a>
        <a class="nav-link active" aria-current="page" routerLink="/color">Color</a>
        <a class="nav-link active" aria-current="page" href="#">Interior</a>
        <a class="nav-link active" aria-current="page" href="#">S-msg</a>
        <a class="nav-link active" aria-current="page" href="#">Packages</a>
        <a class="nav-link active" aria-current="page" href="#">Options</a>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</form>